{{ define "head-styles" }}
  {{ $pageCSS := "scss/about-cooperative.scss" }}
  {{ $options := (dict "transpiler" "dartsass" "outputStyle" "compressed") }}
  {{ $inlineCSS := resources.Get $pageCSS | css.Sass $options }}
  <style>{{ $inlineCSS.Content | safeCSS }}</style>
{{ end }}

{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <section id="mission">
    <h2>Our Mission</h2>
    <p>
      We seek to provide a welcoming community for all doulas and to support one
      another through continuing education, opportunities for enhancing
      professional skills, networking. and peer support. We hope to connect our
      community with high quality pregnancy, birth and postpartum support.
    </p>
    <p>
      As professionals, the members of The Doula Cooperative subscribe to a
      shared code of ethics that informs our practices and ways of working with
      clients.
    </p>
  </section>
  <section id="who-we-are">
    <h2>Who We Are</h2>
    <p>
      Our membership consists of birth and postpartum doulas from all around
      Rochester and its surrounding areas. We have doulas who work independently
      and doulas who work within teams and agencies as well. Our doulas have a
      variety of experience in supporting families and represent numerous
      training organizations as well.
    </p>
    <p>
      Our Cooperative was founded in 2000 as a place for professional
      collaboration, encouragement and education and welcomed new and seasoned
      doulas alike. We are proud continue that legacy and strive to uphold those
      values as we grow and expand this crucial work of supporting families in
      the childbearing years.
    </p>
  </section>

  <section id="board">
    <h2>Our Board</h2>
    <p>
      Our Cooperative is governed by a volunteer group of members. The Board
      organizes events, maintains relationships with providers and other
      professionals or organizations that support families in our community,
      advocates for the rights of birthing people, arranges educational
      opportunities, and informs members and the broader community of relevant
      social or legislative issues that impact birthing people and their
      families.
    </p>
    <div class="board-members">
      {{ range .Params.board_members }}
        {{ partial "about-cooperative/board-member-card.html" . }}
      {{ end }}
    </div>
  </section>
{{ end }}
