{{ define "head-styles" }}
  {{ $pageCSS := "scss/find-a-doula.scss" }}
  {{ $options := (dict "transpiler" "dartsass" "outputStyle" "compressed") }}
  {{ $inlineCSS := resources.Get $pageCSS | css.Sass $options }}
  <style>{{ $inlineCSS.Content | safeCSS }}</style>
{{ end }}

{{ define "main" }}
  {{ $searchType := .File.BaseFileName }}
  <h1 style="view-transition-name: title-{{ $searchType }}">
    {{ .Title }}
  </h1>

  {{ if in .Permalink "/search/" }}
    {{ partial "find-a-doula/search.html" . }}
  {{ else if in .Permalink "/browse/" }}
    {{ partial "find-a-doula/browse.html" . }}
  {{ else if in .Permalink "/match/" }}
    {{ partial "find-a-doula/match.html" . }}
  {{ end }}

  {{ partial "find-a-doula-nav.html" . }}
{{ end }}
