{{ define "head-styles" }}
  {{ $pageCSS := "scss/find-a-doula.scss" }}
  {{ $options := (dict "transpiler" "dartsass" "outputStyle" "compressed") }}
  {{ $inlineCSS := resources.Get $pageCSS | css.Sass $options }}
  <style>{{ $inlineCSS.Content | safeCSS }}</style>
{{ end }}

{{ define "head-scripts" }}
  {{ if in .Permalink "/search/" }}
    <script src="/pagefind/pagefind-ui.js"></script>
  {{ end }}
{{ end }}

{{ define "main" }}
  {{ $searchType := .File.BaseFileName }}
  <h1 style="view-transition-name: title-{{ $searchType }}">
    {{ .Title }}
  </h1>

  <section class="text-content">
    {{ if in .Permalink "/search/" }}
      {{ partial "find-a-doula/search.html" . }}
    {{ else if in .Permalink "/browse/" }}
      {{ partial "find-a-doula/browse.html" . }}
    {{ else if in .Permalink "/match/" }}
      {{ partial "find-a-doula/match.html" . }}
    {{ end }}
  </section>

  {{ partial "find-a-doula-nav.html" . }}
{{ end }}

{{ define "footer-scripts" }}
  {{ if in .Permalink "/search/" }}
    <script>
      window.addEventListener("DOMContentLoaded", event => {
        new PagefindUI({
          element: "#search",
          showSubResults: true,
          showImages: true,
          resetStyles: false,
        });
      });
    </script>
  {{ end }}
{{ end }}
