.profile-card {
  display: grid;
  grid-template-columns: 18.75rem 1fr;
  grid-template-rows: max-content 1fr max-content;
  grid-template-areas:
    "headshot name"
    "headshot credentials"
    "headshot tags";
  column-gap: var(--space-m);
  padding: var(--space-s);
  border-radius: var(--border-radius-md);
  border: 5px solid var(--brown-300);
  align-items: center;
}

.headshot {
  grid-area: headshot;
  border: 5px solid var(--teal-500);
  border-radius: var(--border-radius-md);
}

.name {
  grid-area: name;
  margin: 0;
}

.no-credentials {
  grid-area: credentials;
}

.credentials {
  grid-area: credentials;
  margin: 0;
  align-self: start;
}

.tags {
  grid-area: tags;
}

.profile-card-container + .profile-card-container {
  margin-block-start: var(--space-m);
  container-type: inline-size;
}

@container (width < 40rem ) {
  .profile-card {
    display: flex;
    flex-direction: column;
    padding: var(--space-s);
  }

  .name {
    text-align: center;
  }

  .headshot {
    border-width: 4px;
  }
}
