<h1>My Membership</h1>

@if (isInitialLoad()) {
  <p>Loading membership information...</p>
} @else {
  <div class="membership__details">
    <p>Welcome back, {{ userDisplayName() }}!</p>
    @if (userDocument(); as userDoc) {
      <div class="membership__info">
        <h3>Your Membership Details</h3>
        <dl>
          <div class="membership__info-item">
            <dt>Account Created:</dt>
            <dd>{{ membershipCreated() | date: 'longDate' }}</dd>
          </div>
          <div class="membership__info-item">
            <dt>Email:</dt>
            <dd>{{ userDoc.email }}</dd>
          </div>
          <div class="membership__info-item">
            <dt>Email Verified:</dt>
            <dd>{{ user()?.emailVerified ? 'Yes' : 'No' }}</dd>
          </div>
          @if (userFullName(); as name) {
            <div class="membership__info-item">
              <dt>Name:</dt>
              <dd>{{ name }}</dd>
            </div>
          }
          @if (subscriptionStarted(); as subscriptionDate) {
            <div class="membership__info-item">
              <dt>Subscription Started:</dt>
              <dd>{{ subscriptionDate | date: 'longDate' }}</dd>
            </div>
          }
        </dl>
      </div>
    } @else {
      <p>We could not find your membership information.</p>
    }
  </div>
  <button (click)="onSignOut()" class="button">Sign Out</button>
}
