<div class="footer__main">
  <div class="footer__brand">
    <div class="footer__brand-title">Doula Cooperative</div>
    <div class="footer__brand-location">Rochester, NY</div>
    <p class="footer__inclusion">
      {{ i18n "footer_inclusion" | safeHTML }}
    </p>
  </div>
  <nav class="footer__nav" aria-label="Footer navigation">
    <div class="footer__col">
      <h2 class="footer__col-title">{{ i18n "footer_find_a_doula" }}</h2>
      <ul class="footer__links">
        <li>
          <a href="{{ "/find-a-doula/search/" | relLangURL }}"
            >{{ i18n "footer_search" }}</a
          >
        </li>
        <li>
          <a href="{{ "/find-a-doula/browse/" | relLangURL }}"
            >{{ i18n "footer_browse" }}</a
          >
        </li>
        <li>
          <a href="{{ "/find-a-doula/match/" | relLangURL }}"
            >{{ i18n "footer_match" }}</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h2 class="footer__col-title">{{ i18n "footer_browse_members" }}</h2>
      <ul class="footer__links">
        {{ range first 3 (partial "find-a-doula/canonical-tags.html" .) }}
          <li>
            <a href="{{ .Page.RelPermalink }}"
              >{{ .Page.Title }} ({{ .Count }})</a
            >
          </li>
        {{ end }}
      </ul>
    </div>
    <div class="footer__col">
      <h2 class="footer__col-title">{{ i18n "footer_connect" }}</h2>
      <ul class="footer__links">
        <li>
          <a href="{{ "/about-the-doula-cooperative/" | relLangURL }}"
            >{{ i18n "footer_our_mission" }}</a
          >
        </li>
        <li>
          <a href="{{ "/contact-us/" | relLangURL }}"
            >{{ i18n "footer_contact_us" }}</a
          >
        </li>
      </ul>
      <div class="footer__social">
        <a
          href="https://www.facebook.com/DoulaCoop/"
          target="_blank"
          aria-label="Facebook"
          class="footer__social-link footer__social-link--circled">
          {{ partial "icons/facebook.html" . }}
        </a>
        <a href="#" aria-label="X" class="footer__social-link twitter">
          {{ partial "icons/x.html" . }}
        </a>
        <a
          href="https://www.instagram.com/thedoulacooperative/"
          aria-label="Instagram"
          class="footer__social-link">
          {{ partial "icons/instagram.html" . }}
        </a>
      </div>
    </div>
  </nav>
</div>
<div class="footer__bottom">
  <div class="footer__copyright">
    &copy; {{ now.Year }} Doula Cooperative, Rochester, NY
  </div>
  <a class="footer__login" href="#">{{ i18n "footer_member_login" }}</a>
</div>
