<nav class="navbar">
  <ul class="navbar-nav">
    <li class="navbar-list-item">
      <a class="navbar-link" href="/about-us/">About Us</a>
    </li>
    <li class="navbar-list-item">
      <a class="navbar-link" href="/sermons/">Sermons</a>
    </li>
    <li class="navbar-list-item">
      <a class="navbar-link" href="/articles/">Articles</a>
    </li>
    <li class="navbar-list-item">
      <a class="navbar-link" href="/lessons/">Lessons</a>
    </li>
    <li class="navbar-list-item">
      <a class="navbar-link" href="/studies/">Studies</a>
    </li>
    <li class="navbar-list-item">
      <a class="navbar-link" href="/visitors/">Visitors</a>
    </li>
    <li class="navbar-list-item">
      <a class="navbar-link" href="/contact-us/">Contact Us</a>
    </li>
  </ul>
</nav>
