<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ .Title }}",
  "url": "{{ .Permalink }}",
  {{- $slug := path.Base .File.Dir -}}
  "image": "https://ik.imagekit.io/doulacoop/tr:w-600,h-600,fo-face,z-0.5,di-default-profile.png/doulas/{{ $slug }}/{{ $slug }}-profile",
  "description": "{{ .Summary | plainify | safeJS }}",
  "jobTitle": "Doula",
  {{ with .Params.contact -}}
  "email": "{{ .email }}",
  "telephone": "{{ .phone }}",
  {{ with .website -}}
  "sameAs": ["{{ . }}"]
  {{- end -}}
  {{- end }}
}
</script>
