<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ .Title }}",
  "url": "{{ .Permalink }}",
  {{ with .Params.headshot }}{{- with $.Resources.GetMatch . -}}"image": "{{ .Permalink }}",{{- end -}}{{ end }}
  "description": "{{ .Summary | plainify | safeJS }}",
  "jobTitle": "Doula",
  {{ with .Params.contact -}}
  "email": "{{ .email }}",
  "telephone": "{{ .phone }}",
    {{- with .website -}}
  "sameAs": ["{{ . }}"]
    {{- end -}}
  {{- end }}
}
</script>
