<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ .Title }}",
  "url": "{{ .Permalink }}",
  {{- $slug := path.Base .File.Dir -}}
  "image": "{{ partial "profile-image-url.html" (dict "slug" $slug "width" 600 "height" 600 "imageUpdatedAt" .Params.imageUpdatedAt) }}",
  "description": "{{ .Summary | plainify | safeJS }}",
  "jobTitle": "Doula",
  {{ with .Params.contact -}}
  "email": "{{ .email }}",
  "telephone": "{{ .phone }}",
  {{ with .website -}}
  "sameAs": ["{{ . }}"]
  {{- end -}}
  {{- end }}
}
</script>
