// Edit Profile Specific Styles

:host {
  display: block;
  container: profileform / inline-size;
}

.profile-nav {
  display: flex;
  gap: var(--space-md);
  margin-block-end: var(--space-md);
}

// Profile Image Preview
.profile-image-preview {
  width: 200px;
  height: 200px;
  border-radius: var(--border-radius-md);
  object-fit: cover;
  border: 8px solid var(--teal-500);
  margin-block: var(--space-xs);
}
