:host {
  display: inline-block;
  padding: var(--space-2xs) var(--space-xs);
  border-radius: 20px;
  width: max-content;
  background-color: var(--brown-300);
  color: var(--brown-500);
  font-weight: 900;
  font-size: var(--step--1);

  &.small {
    padding: var(--space-3xs) var(--space-2xs);
    font-size: var(--step--2);
  }
}
