{{ define "head-styles" }}
  {{ $css := slice
    (resources.Get "css/components/callout.css")
    | resources.Concat "thank-you-match-request.css"
    | resources.Minify
  }}
  <style>{{ $css.Content | safeCSS }}</style>
{{ end }}

{{ define "main" }}
  <h1 class="thank-you-page__title">{{ .Title }}</h1>
  <section class="text-content">
    <p>{{ i18n "thank_you_p1" }}</p>
  </section>
  <section class="text-content">
    {{ partial "find-a-doula/what-happens-next.html" . }}
  </section>
{{ end }}
