section > p:first-child {
  text-align: center;
  margin-block: var(--space-m);
}

@container (max-width: 50rem) {
  .search-section .search-form,
  .contact-section .contact-form .date-fields {
    flex-direction: column;
  }

  .contact-section .contact-form .form-group-half {
    width: 100%;
  }
}
