{{ define "head-styles" }}
  {{ $css := slice
    (resources.Get "css/components/profile-card.css")
    (resources.Get "css/components/tag.css")
    | resources.Concat "doula-list.css"
    | resources.Minify
  }}
  <style>{{ $css.Content | safeCSS }}</style>
{{ end }}

{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ with .Content }}
    <div class="list-description">
      {{ . }}
    </div>
  {{ end }}


  <section>
    {{ range .Pages.ByTitle }}
      {{ partial "profile-card.html" . }}
    {{ end }}
  </section>
{{ end }}
