:root {
  /* Colors */
  --color-primary-bg: #ffffff;
  --color-accent-bg: #1b5665;
  --color-highlight-bg: #f9dcb5;
  --color-light-bg: #f5e4cd;
  --color-lightest-bg: #fcefde;
  --color-text-main: #442c0c;
  --color-border-accent: #dfb781;
}
