.profile-body {
  display: grid;
  gap: var(--space-size-7);
  grid-template-columns: 1fr;

  @container (width > 45rem) {
    grid-template-columns: 1fr 2fr;
  }
}

.profile-header {
  margin-block-end: var(--space-size-5);

  .credentials {
    font-size: var(--ts-m);
    color: var(--primary-700);
    font-weight: 300;
  }
}

.headshot {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 7px;
  border: 8px solid var(--teal-500);
  padding: var(--space-size-2);
}

.sidebar {
  .contact-info,
  .tags {
    margin-block-end: var(--space-size-5);
  }

  .tags ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-size-2);

    li {
      background-color: var(--secondary-200);
      padding: var(--space-size-1) var(--space-size-3);
      border-radius: 50px;
      font-size: var(--ts-s);
      font-weight: 900;
    }
  }
}
