@use "components/callout";
@use "components/nav-card";

.find-a-doula-nav {
  display: flex;
  gap: var(--space-l);
  list-style: none;
  padding: 0;
  margin: var(--space-l) 0;
}

.find-a-doula-nav.small {
  margin-block: var(--space-xl);
  justify-content: center;
}

.search-section,
.browse-section,
.contact-section {
  p {
    text-align: center;
    margin-block-end: var(--space-m);
  }

  .search-form {
    display: flex;
    gap: var(--space-s);

    input[type="search"] {
      flex-grow: 1;
      padding: var(--space-s);
      border: 1px solid var(--color-text-main);
      border-radius: var(--spacing-btn-radius);
      background-color: var(--brown-000); // From figma
    }
  }
}

.browse-section {
  margin-block: var(--space-m);

  .browse-header {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    margin-bottom: var(--space-s);

    img {
      width: 3rem; // 48px, approximate from figma
      height: 3rem;
    }
  }

  .browse-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
  }
}

.contact-section {
  margin-block: var(--space-m);

  .contact-header {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    margin-bottom: var(--space-s);

    img {
      width: 3rem;
      height: 3rem;
    }
  }

  .contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);

    .form-group {
      width: 100%;
    }

    .form-group-half {
      width: calc(50% - (var(--space-m) / 2));
    }

    label,
    legend {
      display: block;
      font-size: var(--step-2);
      font-weight: var(--font-weight-light);
      margin-bottom: var(--space-xs);
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: var(--space-s);
      border: 1px solid var(--color-text-main);
      border-radius: var(--spacing-btn-radius);
      background-color: var(--brown-000);
    }

    fieldset {
      border: none;
      padding: 0;
      margin: 0;
    }

    .date-fields {
      display: flex;
      gap: var(--space-s);
    }

    .checkbox-group {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: var(--space-s);

      div {
        display: flex;
        align-items: center;
        gap: var(--space-xs);
      }

      input[type="checkbox"] {
        width: 1.5rem;
        height: 1.5rem;
        accent-color: var(--teal-500);
      }

      label {
        font-size: var(--step-0);
        margin-bottom: 0;
      }
    }
  }
}

.post-submission-section {
  max-width: var(--container-max-width);

  .info-content {
    max-width: 80ch;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@container (max-width: 50rem) {
  .search-section .search-form,
  .contact-section .contact-form .date-fields {
    flex-direction: column;
  }

  .contact-section .contact-form .form-group-half {
    width: 100%;
  }
}

@container (max-width: 30rem) {
  .find-a-doula-nav.small {
    flex-direction: column;
    align-items: center;
  }
}
