.footer {
  --icon-color: var(--color-accent-bg);

  padding-block: 2rem;
  background-color: var(--color-light-bg);
  border-top: 5px solid var(--color-border-accent);
}

.footer__container {
  & .footer__main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    padding-block-end: 2rem;
    border-bottom: 2px solid var(--color-border-accent);
  }

  & .footer__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  & .footer__brand-title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-boldest);
  }

  & .footer__brand-location {
    font-size: var(--font-size-body-sm);
  }

  & .footer__inclusion {
    font-size: var(--font-size-body-md);
    max-width: 60ch;
  }

  & .footer__col-title {
    font-size: 1.25rem; /* 20px */
    font-weight: var(--font-weight-bold);
    color: var(--color-accent-bg);
  }

  & .footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    a {
      text-transform: uppercase;
      font-size: 1.25rem; /* 20px */
      font-weight: var(--font-weight-semibold);
      color: var(--color-text-main);
      text-decoration: none;
    }
  }

  & .footer__social {
    display: flex;
    gap: 1rem;
    margin-block-start: 1rem;

    .footer__social-link {
      display: grid;
      place-content: center;
    }

    .footer-icon {
      width: 44px;
      height: 44px;
      color: var(--icon-color);
    }
  }

  & .footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-block-start: 2rem;
  }

  & .footer__login {
    text-transform: uppercase;
  }
}
