.benefits,
.membership-join {
  margin-bottom: var(--space-xl);
}

.benefits {
  ul {
    list-style: none;
    padding: 0;
    display: grid;
    gap: var(--space-s);

    @container (width > 600px) {
      grid-template-columns: 1fr 1fr;
      gap: var(--space-l);
    }

    li {
      background-color: var(--brown-100);
      padding: var(--space-s);
      border-radius: 8px;
      border: 1px solid var(--brown-400);
    }
  }
}

.membership-join {
  border: 2px solid var(--brown-400);
  border-radius: 12px;
  padding: var(--space-l);
  max-width: max-content;
  margin-inline: auto;

  .price {
    font-size: var(--step-6);
    color: var(--color-text-main);
    margin-block: var(--space-xs);
    font-weight: var(--font-weight-boldest);
  }
}
