:root {
  /* Spacing */
  --spacing-xs: 0.625rem; /* 10px */
  --spacing-sm: 1.25rem; /* 20px */
  --spacing-md: 1.5rem; /* 24px */
  --spacing-lg: 1.8125rem; /* 29px */
  --spacing-xl: 4.3125rem; /* 69px */
}
