:root {
  /* Typography */
  --font-family-main: "Geologica", sans-serif;
  --font-weight-boldest: 900;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-regular: 400;
  --font-size-xl: 96px;
  --font-size-lg: 48px;
  --font-size-md: 36px;
  --font-size-sm: 24px;
  --font-size-body-lg: 24px;
  --font-size-body-md: 18px;
  --font-size-body-sm: 16px;
  --line-height-tight: 1.25em;
  --line-height-relaxed: 1.5em;
}
