<section id="board">
  <h2>Our Board</h2>
  <p>
    Our Cooperative is governed by a volunteer group of members. The Board
    organizes events, maintains relationships with providers and other
    professionals or organizations that support families in our community,
    advocates for the rights of birthing people, arranges educational
    opportunities, and informs members and the broader community of relevant
    social or legislative issues that impact birthing people and their families.
  </p>
  <div class="board-members">
    {{ range .Params.board_members }}
      {{ partial "about-cooperative/board-member-card.html" . }}
    {{ end }}
  </div>
</section>
