<section id="mission">
  <h2>Our Mission</h2>
  <p>
    We seek to provide a welcoming community for all doulas and to support one
    another through continuing education, opportunities for enhancing
    professional skills, networking. and peer support. We hope to connect our
    community with high quality pregnancy, birth and postpartum support.
  </p>
  <p>
    As professionals, the members of The Doula Cooperative subscribe to a shared
    code of ethics that informs our practices and ways of working with clients.
  </p>
</section>
