{{ define "head-styles" }}
  {{ $css := slice
    (resources.Get "css/components/profile-card.css")
    (resources.Get "css/components/tag.css")
    | resources.Concat "doula-list.css"
    | resources.Minify
  }}
  <style>{{ $css.Content | safeCSS }}</style>
{{ end }}

{{ define "main" }}
  <section class="text-content doula-list">
    <h1>{{ .Title }}</h1>
    <ul>
      {{ range .Site.Taxonomies.tags.ByCount }}
        <li>
          <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
          ({{ .Count }})
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
