<section>
  <h2>Frequently Asked Questions</h2>
  <ul>
    <li>Birth Doulas - What is included with their support?</li>
    <li>Birth Doulas - What is included with their support?</li>
    <li>Postpartum Doulas - What do they do and what are their benefits?</li>
    <li>Postpartum Doulas - What is included with their support?</li>
    <li>Who typically hires a doula?</li>
    <li>Where do doulas attend births?</li>
    <li>
      Will the doula take the place of my spouse, partner or family member?
    </li>
    <li>How do medical providers and doulas work together?</li>
    <li>What other support services can a doula offer?</li>
    <li>Is there a difference between a midwife and a doula?</li>
    <li>How much does doula support cost and why?</li>
  </ul>
</section>
