<section>
  <h2>A Note About Doula Fees</h2>
  <p>
    Doula fees are set by each individual doula, team or agency. The average fee
    in the Rochester area for birth doulas is around $1,000 and $30-$35 for
    postpartum doulas. The bulk of these fees are formulated by the nature of
    what their services entail:
  </p>
  <ul>
    <li>Unlimited text, email & phone support throughout time of contract</li>
    <li>Prenatal and postpartum visits</li>
    <li>
      On call access to birth doulas 24 hours a day, 7 days a week from 38 weeks
      until baby is 1-2 weeks old
    </li>
    <li>
      Availability for continuous care throughout the entirety of your labor and
      birth regardless of whether or not it's a few hours or a few days
    </li>
    <li>
      Childcare costs, travel fees, administrative and business costs, etc.
    </li>
    <li>Level of experience and training</li>
  </ul>
  <p>
    There is a misconception that newer doulas can offer their services for
    free. However, to create a sustainable work environment for themselves and
    their community, most new doulas establish a fee that provides them with a
    living wage.
  </p>
  <p>
    If you are concerned about paying the fee for doula support services, please
    consider the following:
  </p>
  <ul>
    <li>
      What items could you sell, or could you host a garage sale, to cover the
      cost?
    </li>
    <li>Could you put doula support on your shower registry?</li>
    <li>
      Do you or your family members have any services that could be exchanged
      for a portion of the fee?
    </li>
  </ul>
  <p>
    Some doulas do work with sliding scale fees or are able to exchange goods or
    services for their support. Some doulas state this and/or their fee on their
    individual websites. Please contact the doula you are interested in to
    inquire further.
  </p>
</section>
