<section>
  <h2>Hiring a Doula</h2>
  <p>
    You are welcome to contact any of the doulas directly to set up a
    complimentary consultation. It is never too early to contact a potential
    doula! Our schedules can fill up quickly, so if you feel a particular
    connection to someone, contact them soon to ensure their availability!
  </p>
  <p>
    A doula consultation, is a good opportunity to ask any questions you might
    have about a doula's experiences, approach and philosophy. It is also a time
    to learn whether or not you feel that the two of you would be a good fit in
    working together.
  </p>
  <p>
    Once you've decided which doula you'd like to hire, you can contact them
    directly. Most doulas have clients sign an agreement of services and pay a
    portion of their fee up front. In general, the remainder of the fee is due
    prior to services are rendered.
  </p>
</section>
