{{ define "head-styles" }}
  {{ $css := slice
    (resources.Get "css/join-cooperative.css")
    | resources.Concat "join-cooperative.css"
    | resources.Minify
  }}
  <style>
    {{ $css.Content | safeCSS }}
  </style>
{{ end }}

{{ define "main" }}
  <h1 style="view-transition-name: title-join-coop">{{ .Title }}</h1>
  {{ .Content }}


  <section class="membership-join text-content">
    <h2>{{ i18n "join_membership_heading" }}</h2>

    {{ $pricingTableId := os.Getenv "STRIPE_PRICING_TABLE_ID" }}
    {{ $publishableKey := os.Getenv "STRIPE_PUBLISHABLE_KEY" }}
    {{ if and $pricingTableId $publishableKey }}
      <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
      <stripe-pricing-table
        pricing-table-id="{{ $pricingTableId }}"
        publishable-key="{{ $publishableKey }}">
      </stripe-pricing-table>
    {{ end }}
  </section>
{{ end }}
