<header class="header">
  <nav class="navbar">
    <a class="navbar__logo" routerLink="/">
      <h2>{{ brandTitle }}</h2>
    </a>
    @if (isAuthenticated()) {
      <ul class="navbar__nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/membership" class="navbar__link">Membership</a>
        </li>
        @if (isAdmin()) {
          <li routerLinkActive="active">
            <a routerLink="/admin" class="navbar__link">Admin</a>
          </li>
        }
      </ul>
      @if (canEditProfile()) {
        <a routerLink="/profile" class="navbar__cta button navbar__button">Edit Profile</a>
      }
    }
  </nav>
</header>
