:host {
  display: block;
  max-width: 60ch;
  margin-inline: auto;
}

.subtitle {
  text-align: center;
  margin-block: var(--space-m);
}

.full-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
